* {
    box-sizing: border-box;
   
}

a {
    text-decoration: none;
    padding: 1px 2px;
  display: flex;
  }

.thecontainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
   text-align: left;
    padding: 5px 5px;
    background-color: lightcyan;
    color : black;
}

.kembali{
    color : black;
    background-color: lightcyan;
}

#month{
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 5px;
    width : 80px;
    height : 20px;
    text-align: center;
}

#location{
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 5px;
    width : 80px;
    height : 20px;
    text-align: center;
}


#category{
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 5px;
    width : 80px;
    height : 20px;
    text-align: center;
}

@media only screen {
    * {
        max-height :600.65px;
        max-width: 1333.33px;
    }
  }

.revenue{
    background-color:yellow;
    width:20em;
    height:20em;
    border-radius:50%;
    text-align: center;
    color:black;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:80px;
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-gap: 2.5px;
    text-align: center;
}

.sub-main1{
position : relative;
width : 6.25px;
display: inline-block;
}

.sub-main2{
    display: grid;
    top : 5em;
    padding : 0.5%;
    left : -280px;
    }

.sub-main3{
        display: grid;
        top : 5em;
        right : 5em;
        padding : 0.5%;
        float: right;
        margin : 0.25px auto;
        }

.most{
    background-color: lightgoldenrodyellow;
    border-radius: 2px;
    width : 170px;
    height : 70px;
    text-align: center;
    color: solid black;
    margin : 0.1875px auto;
    font-size :smaller;
}

.locationnumber, .food{
text-align-last: center;
color :rgb(1, 113, 113);
}

 .price {
    text-align : center;
}

.therevenue{
    position : absolute;
    width : inherit;
    height: auto;
    top : 50%;
    transform : translateY(-50%);
    text-align: center;
}

.numberoflocation{
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    width :170px;
    height : 80px;
    text-align: center;
    color: solid black;
    margin :0.1875px auto;
    justify-content: center;
    font-size: smaller;
}

.food{
    text-align-last: right;
    font-style: italic;
}
.locationnumber{
font-size: 17px;
}

.highest{
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    width : 175px;
    height : 80px;
    text-align: center;
    color: solid black;
    margin : 0.1875px auto;
    font-size: smaller;
}

.july{
    color :aqua;
    text-align: center;
}

.sub-container{
    background-color: lightgray;
    border-radius: 2px;
    width : 170px;
    height : 80px;
    text-align: center;
    margin : 0.1875px auto;
}

.coca-cola{
    color : red;
    font-size :small;
}

.highestmonthrevenue{
    text-align: center;
    font-size: smaller;
}
.monsterenergy{
    color : lime;
    font-size :small;
}

.poland{
    color : lightskyblue;
    font-size :small;
}

.payment{
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    width : 170px;
    height : 80px;
    text-align: center;
    font-size: smaller;
}

.peak{
    background-color: lightgray;
    border-radius: 8px;
    width : 250px;
    height : 150px;
    text-align: center;
    color: solid black;
}

.locationimage{
    width : 20px;
    height : 20px;
    position: relative;
    left: -6px;
}

.product{
    background-color: lightgray;
    border-radius: 8px;
    width : 80px;
    height : 100px;
    text-align: center;
    color: solid black;
    font-size: smaller;
}

.totalofproducts{
    text-align: center;
}

.calendar{
    background-color: lightgray;
    border-radius: 8px;
    width : 200px;
    height : 153px;
    text-align: center;
    position: relative;
    left : 600px;
    color: solid black;
    font-size: smaller;
}

#pagination {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr  0.5fr 0.5fr 0.5fr  0.5fr 0.5fr 0.5fr;
    color: black;
}

#table {
    background-color: aqua;
    color : black;
}

th {
    background-color: floralwhite;
}



.charttransaction {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 12px 12px;
    color : black;
}

.chartproduct {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 12px 12px;
    color : black;
}

.chartcategory {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 12px 12px;
    color : black;
}