* {
  background-color: lightblue;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

#main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.sub-main1,
.sub-main2,
.sub-main3 {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px 30px;
  box-sizing: border-box;
  align-items: center;
  margin-top: 50px;
}

.locationnumber,
.totalofproducts,
.mostpopularproducts,
.mostpopularcategory,
.revenue,
.daterange,
.highestmonthrevenue,
.favoredpayment,
.peakseasonrevenue {
  font-weight: bold;
  margin-bottom: 5px;
}

img {
  width: 190px;
  height: 150px;
 object-fit: fill;
}
